<div id="userinfo">
<form id="iform">
Username: <input id="username" type="text"><br>
Password: <input id="pass1" type="password"><br>
Retype Password: <input id="pass2" type="password"><br><br>
First Names: <input id="first" type="text"><br>
Last Name: <input id="last" type="text"><br>
Street: <input id="street" type="text"><br>
State: <input id="state" type="text" size="2">
Zip: <input id="" type="" size=""><br>
<br>
Credit Card Information(or Click PayPal):
<input type="button" value="Pay with Credit Card" onclick="new Ajax.Updater({success: 'container'},'do.php',{method: 'post', parameters: 'what=pwcc'});">
<input type="button" value="Pay with PayPal" onclick="new Ajax.Updater({success: 'container'},'do.php',{method: 'post', parameters: 'what=pwpp'});">
</form>
</div>
