<div id='login' style="text-align:center;position: relative; top: 240px;left: 320px;">
Technician Login:<br>
<p>
<form id='info' onsubmit="login();return false;">
Username: <input name='user' type='text'><br>
Password: <input name='pass' type='password'><br>
<input name='what' value='logintech' type='hidden'>
<input type='submit' value='Login'>
</form>
</p>
</div>