
.error {
  position: relative; 
  top: 40px;
  left: 400px;
  background-color: #ff8d6a;
  padding: 4px 4px 4px 4px;
}

/* -- Temporary -- */
#notice {
  font-family: Arial;
  font-size:14px;
  font-weight: bold;
  color: red;
  position: absolute;
  left: 381px;
  top: 33px;
  width: 500px;
  height: 89px;
}
/* -- Temporary -- */

body {
  background: #5B8EC2;
  background-image: url(images/bggrade.gif);
  background-repeat: repeat-x;
  text-align: center;
}

#pretty {
  background-image: url(images/footer_store.gif);
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #305F8F;
  padding-left: 1px;
  position: relative;
  width: 905px;
  height: 485px;
  margin: 0px auto;
}

#container {
  background-color: transparent;
  padding-bottom: 25px;
  text-align: center;
  position: relative;
  width: 550px;
  height: auto;
  left: 15px;
  top: 0px;
}
      
#logo {
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  width: 906px;
  top: 0px;
  height: 162px;
}
    
#logo_link {
  position: absolute;
  width: 325px;
  height: 126px;
  left: 25px;
  top: 25px;
}

#greet {
  text-align: left;
  padding: 3px 0 0 0;
  color: #448;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  left: 23px;
  width: 444px;
  height: 27px;
  top: 7px;
}

#clockdiv {
  text-align: left;
  padding: 3px 0 0 0;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  color: #448;
  position: absolute;
  left: 556px;
  width: 323px;
  top: 7px;
  height: 24px;
}

#logout {
  position: relative;
  left: 375px;
  bottom: 498px;
}

#toconsole {
  position: absolute;
  left: 810px;
  top: 140px;
}

#console {
  position: absolute;
  left: 0px;
  top: 0px;
}


#createuser {
  color: #000000;
  position: absolute;
  left: 6px;
  width: 226px;
  top: 160px;
  height: 295px;
}

#createuser_t {
  background-image: url(images/t_news.gif);
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 226px;
  height: 29px;
}

#createuser_b {
  background-image: url(images/b_news.gif);
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
  width: 226px;
  height: 29px;
  left: 0px;
  top: 240px;
}

#createuser_c {
  background-image: url(images/m_news.gif);
  background-position: left;
  background-repeat: repeat-y;
  color: #000000;
  position: absolute;
  left: 0px;
  width: 220px;
  top: 10px;
  height: 270px;
}

#tools {
  position: absolute;
  left: 100px;
  top: 400px;
  text-align:left;
  background-color:#994411;
  width:130px;
  height:50px;
}

#userlist {
  position: absolute;
  left: 230px;
  top: 155px;
  text-align:left;
  width:226px;
  height:300px;
}

#userlist_t {
  background-image: url(images/t_news.gif);
  background-position:left;
  background-repeat: no-repeat;
  position: relative;
  width: 226px;
  height: 29px;
  left: 0px;
  bottom: 246px;
}
#userlist_b {
  background-image: url(images/b_news.gif);
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
  width: 226px;
  height: 29px;
  left: 0px;
  bottom: 5px;
}

#userlist_c {
  background-image: url(images/m_news.gif);
  position: relative;
  left: 0px;
  top: 29px;
  width:220px;
  height:246px;
}

#filelist {
  position: absolute;
  left: 6px;
  top: 255px;
  text-align:left;
  width:226px;
  height:200px;
}

#filelist_t {
  background-image: url(images/t_news.gif);
  background-position:left;
  background-repeat: no-repeat;
  position: relative;
  width: 226px;
  height: 29px;
  left: 0px;
  bottom: 160px;
}
#filelist_b {
  background-image: url(images/b_news.gif);
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
  width: 226px;
  height: 29px;
  left: 0px;
  bottom: 15px;
}

#filelist_c {
  background-image: url(images/m_news.gif);
  position: relative;
  left: 0px;
  top: 29px;
  width:226px;
  height:160px;
  overflow: auto;
}

#regexlist {
  position: absolute;
  left: 230px;
  top: 255px;
  text-align:left;
  width:226px;
  height:200px;
}

#regexlist_t {
  background-image: url(images/t_news.gif);
  background-position:left;
  background-repeat: no-repeat;
  position: relative;
  width: 226px;
  height: 29px;
  left: 0px;
  bottom: 160px;
}
#regexlist_b {
  background-image: url(images/b_news.gif);
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
  width: 226px;
  height: 29px;
  left: 0px;
  bottom: 15px;
}

#regexlist_c {
  background-image: url(images/m_news.gif);
  position: relative;
  left: 0px;
  top: 20px;
  width:226px;
  height:160px;
  overflow: auto;
}

#techmessages {
  position: absolute;
  width: 450px;
  height: 300px;
  left: 455px;
  top: 160px;
}

#techmessages_t {
  position: relative;
  background-image: url(images/t_text.gif);
	background-repeat: no-repeat;
	bottom: 250px;
	left: 0px;
	width: 435px;
	height: 28px;
}

#techmessages_b {
  position:relative;
  background-image: url(images/b_text.gif);
	background-repeat: no-repeat;
	background-position: left;
	width: 435px;
	height: 28px;
	bottom: 5px;
	left: 0px;
}

#techmessages_c {
  background-image: url(images/m_text.gif);
	background-repeat: repeat-y;
	background-position: left;
	position: relative;
	width: 435px;
	height: 250px;
	left: 0px;
	top: 25px;
	overflow: auto;
}

#defaults {
  position: absolute;
  width: 450px;
  height: 100px;
  left: 10px;
  top: 160px;
}

#defaults_t {
  position: relative;
  background-image: url(images/t_text.gif);
	background-repeat: no-repeat;
	bottom: 60px;
	left: 0px;
	width: 435px;
	height: 28px;
}

#defaults_b {
  position:relative;
  background-image: url(images/b_text.gif);
	background-repeat: no-repeat;
	background-position: left;
	width: 435px;
	height: 28px;
	bottom: 15px;
	left: 0px;
}

#defaults_c {
  background-image: url(images/m_text.gif);
	background-repeat: repeat-y;
	background-position: left;
	position: relative;
	width: 435px;
	height: 60px;
	left: 0px;
	top: 28px;
}

#footer {
  background-image: url(images/pcr_footer.jpg);
  background-repeat:no-repeat;
  position: absolute;
  left: -10px;
  bottom: 0px;
  width: 925px;
  height: 102px;
}

#blue {
  background-color: #305F8F;
  border: solid 1px black;
  position: absolute;
  left: 0px;
  top: 134px;
  width: 904px;
  height: auto;
}

#white {
  background-color: white;
  border-right: solid 1px black;
  border-left: solid 1px black;
  border-bottom: solid 1px black;
  position: absolute;
  left: 6px;
  top: 159px;
  width: 893px;
  height: auto;
}

#acceptDiv {
  position: relative;
  left: 100px;
}

#files {
  position: absolute;
  left: 5px;
  top: 215px;
  width: 225px;
  height: 225px;
  background-color: #11ffc4;
}

#stockregex {
  display: none;
  position: absolute;
  /*overflow: hidden;*/
  width: 440px;
  height: 295px;
  bottom: 0px;
  background-color: #efefef;
}
#stockregex_c {

}
#toolbox_images {
  position: relative;
  left: 120px;
  top: 30px;
}

table.srt {
  width: 440px;
  border: 1px solid #000;
}
tr.srt {
  border: 1px solid #000;
}
td.srt {
}

.userListItem {
  margin:5px;
  text-align:left;
  /*background-image: url(images/blue_pill.gif);*/
  border: 1px solid #EFEFEF;
  background-position: top;
  background-repeat: no-repeat;
  width: 160px;
  height: 25px;
  overflow: hidden;
  position: relative;
  float: left;
  left: 20px;
}

.fileListItem {
  left: 15px;
  width: 180px;
  text-align:left;
  /*background-image: url(images/blue_pill.gif);*/
  border: 1px solid #EFEFEF;
  background-position: top;
  background-repeat: no-repeat;
  height: 35px;
  /*overflow: hidden;*/
  position: relative;
  float: left;
}

.userlistactions {
  cursor:pointer;
}

.userTitle {
  position: relative;
  left: 20px;
}

.editButton {
  position: relative;
  left: 125px;
  bottom: 20px;
  cursor:pointer;
}

.trashButton {
  position: relative;
  left: 145px;
  bottom: 37px;
  cursor:pointer;
}
.trashFile {
  position: relative;
  left: 155px;
  bottom: 20px;
}
.editFile {
  position: relative;
  left: 3px;
  bottom: 17px;
}

.fileItem {
  padding: 1px 5px 2px 5px;
  cursor: pointer;
  float: left;
}
.pointer {
  cursor: pointer;
}
.regextext {
  width: 125px;
}
.applybutton {
  display: none;
}
